/* 로고 크기 및 위치 조정 */
.logo {
  width: 23%;
  margin: 20px auto;
  display: block;
}

@media (max-width: 768px) {
  .logo {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .search-bar {
    width: 80%; /* 모바일에서는 너비를 80%로 */
  }
}

/* 네비게이션 아이콘 및 페이지 디자인 */
.icon {
  width: 4%;
  display: flex;
  height: auto;
  font-family: Arial, Verdana, sans-serif;
}

.nav-page {
  margin-right: auto;
}

/* 비디오 갤러리 디자인 */
.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.video-item {
  width: 300px;
  margin: 10px;
}

@media (max-width: 768px) {
  .video-item {
    width: 100%; /* 작은 화면에서는 비디오 아이템이 전체 너비를 차지하도록 함 */
    margin: 10px 0;
  }
}

.video-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.video-item h3 {
  font-size: 1em;
  margin-top: 8px;
}

/* 네비게이션 메뉴 스타일 */
.navbar-nav .nav-link {
  margin-left: 15px; /* 링크 사이에 여백 추가 */
}

/* Recipe Road 문구와 메뉴 사이의 여백 */
.navbar-brand {
  margin-right: auto;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    margin-left: 0;
    margin-top: 10px;
  }
}
